<div class="main">
  {{#if this.isMobile}}
    <Header
      @isSidebarOpen={{this.isSidebarOpen}}
      @toggleSidebar={{this.toggleSidebar}}
    />

    <div class={{if this.isSidebarOpen "mobile-sidebar open" "mobile-sidebar"}}>
      <Sidebar @toggleSidebar={{this.toggleSidebar}} />
    </div>

    <div class="mobile-container">
      {{outlet}}
    </div>
  {{else}}
    <Sidebar />

    <div class="main-content">
      {{outlet}}
    </div>
  {{/if}}
</div>